ul{list-style-type: none; background-color:hsla(0, 0%, 0%, 0.5); color:white;}
body{font-family: 'Custom'; background-color: black;}
h1{background-color:hsla(0, 0%, 0%, 0.5); color:white;}
p{background-color:hsla(0, 0%, 0%, 0.5); color:white;}
ol{background-color:hsla(0, 0%, 0%, 0.5); color:white;}
img{background-color:hsla(0, 0%, 0%, 0.5);}
@font-face {font-family: 'Custom'; src: url('Kabel\ Bold.ttf');}
input{font-family: 'Custom'; background-color:hsla(0, 0%, 0%, 0.5); color:white;}
input::placeholder{color:white;}
button{font-family: 'Custom'; background-color:hsla(0, 0%, 0%, 0.5); color:white;}
a{text-decoration: none; color:white;}
#random{background-repeat: no-repeat; background-attachment: fixed; background-size: cover;}
@media screen and (max-width:767px) {iframe[src*="rumble"] {width: 100%; height:100% !important;}}